<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/ppvan">
    <link rel="stylesheet" href="{{ '/assets/css/zenburn.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | relative_url }}">
</head>

<body class="bg-[#111111] text-violet-50 flex pt-3 font-source">
    <div class="w-1/2 m-auto">
        {% include navigation.html %}
        <div id="main">
            {{ content }}
        </div>
    </div>

</body>

</html>